.search-video-results {
    position: absolute;
    left: 200px;
    width: 80%; 
    background-color: white;
    border-radius: 8px;
    padding: 20px; 
    margin-top: 50px;
}

.search-video-result {
    /* display: flex;
    align-items: center;  */
    padding: 10px;
    cursor: pointer;
}

.thumbnail-info-wrapper {
    display: flex;
    align-items: flex-start;
}

.thumbnail-info-wrapper img {
    width: 120px; 
    height: auto;
    margin-right: 20px;
    border-radius: 15px;
}

.search-video-result img {
    width: 500px; 
    height: auto;
    margin-right: 20px; 
    border-radius: 15px;
}

.search-video-info {
    flex: 1;
}

.search-video-info h3 {
    font-size: 20px; 
    font-weight: 550;
    color: #000;
    margin-bottom: 10px;
}

.search-video-info h4 {
    font-size: 14px; 
    color: #666;
    font-weight: 500;
}

.search-video-info p {
    margin: 0;
    font-size: 12px; 
    color: #666;
}

.channel {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.channel img {
    width: 25px;
    margin-right: 8px;
}