.recommendations {
    flex-basis: 30%;
    margin-top: 50px;
}

.recommendation-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.recommendation-item img {
    flex-basis: 49%;
    width: 50%;
    border-radius: 8px;
}

.recommendations-video-info {
    flex-basis: 49%;
}

.recommendations-video-info h4 {
    font-size: 12px;
    margin-bottom: 5px;
    color: black;
}

.recommendations-video-info p {
    font-size: 11px;
    color: #5a5a5a;
}